@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 2rem;
    margin: 20px 0;
}

body{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e9ee;
}

header .nav {
    width: 100% ;
    height: 84px;
    background-color: transparent;
    color: #fff;
    transition: .5s, top 1s;
    position: fixed;
}

header .nav:hover {
    background-color: #01a87c;
}

header .nav a {
    color:#1e3932;
    font-weight: 700;
    transition: .2s;
}

.nav a:hover{
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.bar {
    background-color: #1e3932;
    width: 168px;
    height: 22px;
}

.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 4px;
    color: #454545;
    margin-top: 30px;

    transition: .3s, top .5s;
}

.button:hover{
    background-color: #454545;
    color: #fff;
}

.nav--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav--center{
    display: flex;
}

.nav--center img {
    width: 56px;
    height: 56px;
}

.nav--right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.nav--left {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.nav--mobile {
    display: none;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: #1e3932;
    background-image: url("/assets/images/bg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 140px;  
}

.banner h1{
    font-size: 6rem;
    line-height: 100px;
    margin-bottom: 40px;
}

.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #1e3932;
    border-radius: 50%;
    margin-top: 40px;
    margin-right: 20px;
}

.area1 {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    padding: 6rem;
    height: auto;
}

.area1--quote {
    margin-bottom: 30px;
}

.area1--img1{
    background-color: #a34700;
    height: 40vh;
    background-image: url("../images/f2.jpg");
    background-size: cover;
    background-position: center;
}

.area1--img2 {
    background-color: #01a87c;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url("../images/f1.jpg");
    background-size: cover;
    background-position: center;
}

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content {
    padding: 6rem;
    text-align: justify;
    height: auto;
}

.area2--img1{
    background-color: #a34700;
    height: 55vh;
    background-image: url("../images/f4.jpg");
    background-size: cover;
    background-position: center;
}

.area2--img2 {
    background-color: #01a87c;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("../images/f3.jpg");
    background-size: cover;
    background-position: center;
}

.area3{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content {
    padding: 13.7rem 6rem;
    height: 700px;
    height: auto;
    background-image: url("../images/bg2.jpg");
    background-position: left;
}

.area3--img1{
    background-color: #01a87c;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url("../images/f5.jpg");
    background-size: cover;
    background-position: center;
}

.area4 {
    height: 100vh;
    display: grid;
    grid-template-columns: 500px 1fr;
    background-color: #e8e9ee;
}

.area4--content {
    padding: 6rem;
    padding-top: 13.7rem;
    height: 100vh;
    text-align: justify;
    height: auto;
}

.area4--img1 {
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
}

.area5{
    height: 100vh;
    background-image: url("../images/bg1.webp");
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #333;
    color: #e8e9ee;
    padding: 6rem;
    text-align: center;
}

@media (min-width:769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner {
        text-align: center;
    }

    .banner h1 {
        font-size: 5rem;
        line-height: 90px;
    }

    .banner--images {
        width: 100%;
        margin: 0 auto;
    }

    .banner--images img {
        width: 100px;
        height: 100px;
        border: 4px solid;
        margin-right: 15px;
    }

    .nav--area {
        background-color: #01a87c;
    }

    .nav--left {
        display: none;
    }

    .nav--right {
        display: none;
    }

    .nav--mobile{
        display: flex;
    }

    .nav--mobile img{
        width: 30px;
        height: 30px;
    }

    .menu {
        display: none;
        width: 50px;
        height: 50px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr ;
    }

    .area2 {
        grid-template-columns: 2fr 3fr ;
    }

    .area3 {
        grid-template-columns: 3fr 2fr ;
    }

    .area4--img1 {
        display: none;
    }

}

@media (max-width:425px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .nav--area {
        background-color: #01a87c;
    }

    .nav--left {
        display: none;
    }

    .nav--right {
        display: none;
    }

    .nav--mobile{
        display: flex;
    }

    .nav--mobile img{
        width: 30px;
        height: 30px;
    }

    .menu {
        display: none;
        width: 50px;
        height: 50px;
    }

    .banner {
        text-align: center;
    }

    .banner h1 {
        font-size: 4rem;
        line-height: 60px;
    }

    .banner--images img {
        width: 80px;
        height: 80px;
        border: 3px solid;
        margin-right: 10px;
    }

    .area1{
        grid-template-columns: 1fr;
    }

    .area1--content {
        padding: 2rem;
    }

    .area2{
        grid-template-columns: 1fr;
    }

    .area2--content {
        padding: 2rem;
    }

    .area3{
        grid-template-columns: 1fr;
    }

    .area3--content {
        padding: 2rem;
    }

    .area4{
        grid-template-columns: 1fr;
    }

    .area4--content {
        padding: 2rem;
    }

    .area5{
        display: none;
    }

    footer{
        font-size: .7rem;
        padding: 3rem;
    }
}


